.slideContainer{
  height: 55vh;
  position: relative;
  margin-top: 5%;
}

.mySlides {
  position: absolute;
  bottom: 40%;
  display:none;
  margin-left: 15%;
  width: 70%;

}

.plusdivleft {
  border: none; 
  float: left;
  height: 100%;
  width: 10px;
  background-color: white;
  font-size: 28px;
  color: rgb(209, 209, 209);
}

.plusdivright {
  border: none; 
  float: right;
  height: 100%;
  width: 10px;
  background-color: white;
  font-size: 28px;
  color: rgb(209, 209, 209);
}

.subnav {
  border: none;
  margin: 30px; 
  margin-bottom: 10px; 
  padding: 15px 35px 5px 0px ;
  border: 5px solid rgba(202, 202, 202, 0.5);
}


.responsive {
  width: 80%;
  height: auto;
}


.responsive2 {
  width: 59%;
  height: auto;
}


@media screen and (min-width: 601px) {
  div.font2 {
    font-size: 18px;
    margin-left: 0%;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  div.font2 {
    font-size: 8px;
    margin-left: 0%;
    width: 100%;
  }
}



/* /////////////////////////// */


p {
  letter-spacing: 1em;
  font-family: sans-serif;
  font-size: 2.3ex;
  font: outline;
  text-align: center;
}





a {
    text-decoration: none;
    font-family: sans-serif;
    font-size: 1.3ex;
    font-style: normal;
    color: black;
}

a:hover {
  color: rgb(136, 136, 136);
}



.hr1 {
    background-image: linear-gradient(to right, rgb(241, 241, 241), rgb(66, 66, 66), rgb(247, 247, 247));
    }

    .menu {
      text-align: center;
      width: 100%;
      margin-bottom: 2%;
  }
  
  .dropbtn {
      width: 150px;
      padding: -5px;
      margin: -5px;
      min-width: 96px;
      min-height: 60px;
      background-color: rgb(160, 160, 160);
      color: rgb(233, 233, 233);
      text-align: center;
      font-size: 20px;
      border: none;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    }

    
  
    .dropup {
      position: relative;
      display: inline-block;
    }
    
    .dropup-content {
      align-content: justify;
      text-align: inherit;
      display: none;
      position: absolute;
      background-color: #c00606;
      color: white;
      width: 145px;
      bottom: 50px;
      opacity: 0.5;
      font-size: 20px;
      margin-left: -5px;
    
    }
    
    .dropup-content a {
    
      min-height: 30px;
      color: rgb(252, 252, 252);
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      font-size: 20px;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  }
    
    .dropup-content a:hover {
        background-color: rgb(214, 0, 203);
    
  }
  
    .dropup:hover .dropup-content {
      margin-bottom: 5px;
      display: block;
      

    } 
    
    .dropup:hover .dropbtn {
      margin-top: 15px;
      text-align: center;
      padding: -5px;
      margin: -5px;
      object-fit: cover;
      overflow: hidden;
      background-color: rgb(68, 68, 68);
     
      height: 55px;
      color: rgb(219, 219, 219);
      
    }
    
